.fp-footer {
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
}

.fp-footer--icon {
    margin-bottom: .8rem;
}

@media (max-width: 420px) {
    .fp-footer--icon {
        width: 8rem;
        height: 5rem;
    }

}

.fp-footer--link:link,
.fp-footer--link:visited {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-family: inherit;
}

@media (max-width: 420px) {
    .fp-footer--link:link,
    .fp-footer--link:visited {
        font-size: .7rem;
    }
}

.fp-footer--link:hover {
    color: #b6c3d4;
}

.fp-footer--link:active {
    color: white;
}

.fp-footer--text {
    color: #5F5F5F;
    margin-bottom: -2rem;
    font-size: .7rem;
}

.pop-up-container {
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    /* border: 2px solid rgb(194, 63, 63); */
    width: 26rem;
    height: 25rem;
    position: relative;
}

.pop-up-box {
    background-color: rgb(252, 249, 249);
    width: 24rem;
    height: 12.5rem;
    border-radius: 6px;
    position: absolute;
    top: 7.5rem;
    left: .9rem;
}

.pop-up-close {
    background: none;
    border: none;
    outline: none;
    background-color: rgb(252, 249, 249);
    border-radius: 50%;
    font-size: .5rem;
    position: absolute;
    padding: 5px;
    top: 5rem;
    left: .9rem;
    font-size: .8rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #3a3a3a;
    cursor: pointer;
}

.pop-up--content {
    margin: 1.2rem;
}

.pop-up--header {
    color: #5f4d4d;
    /* text-align: center; */
    margin-top: -.5rem;
}

.pop-up--content form {
    height: 1.5rem;
    margin-top: 1rem;
}

.pop-up--text {
    font-size: .8rem;
    color: #888585;
    margin-top: .8rem;
}

.pop-up--text span {
    color: rgb(202, 24, 24);
}

.pop-up--content .mail--input {
    background-color: rgb(228, 228, 228);
    font-family: inherit;
    width: 19rem;
    height: 3rem;
}

.pop-up--content .mail--btn {
    width: 2.3rem;
    height: 2.9rem;
}