.public-speaking {
    height: 88rem;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.ps-header {
    position: absolute;
    top: 110px;
    text-align: center;
}

.ps-header--fl {
    font-size: 44px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.ps-header--sl {
    font-size: 58px;
    font-weight: 700;
    color: rgb(255, 192, 0);
}

@media(max-width: 1229px) {

    .ps-header--fl {
        font-size: 42px;
    }

    .ps-header--sl {
        font-size: 56px;
    }
}

@media(max-width: 1115px) {
    .ps-header--fl {
        font-size: 40px;
    }

    .ps-header--sl {
        font-size: 49px;
    }
}

@media(max-width: 962px) {
    .ps-header--fl {
        font-size: 37px;
    }

    .ps-header--sl {
        font-size: 42px;
    }
}


@media(max-width: 555px) {

    .ps-header--fl {
        font-size: 26px;
    }

    .ps-header--sl {
        font-size: 32px;
    }
}

@media(max-width: 480px) {

    .ps-header--fl {
        font-size: 25px;
    }

    .ps-header--sl {
        font-size: 29px;
    }
}

@media(max-width: 390px) {

    .ps-header--fl {
        font-size: 21px;
    }

    .ps-header--sl {
        font-size: 26px;
    }
}

.ps-main-video-container {
    position: absolute;
    top: 20rem;
    background-color: rgb(167, 166, 166);
    width: 72rem;
    height: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1210px) {
    .ps-main-video-container {
        width: 60rem;
    }
}

@media (max-width: 1033px) {
    .ps-main-video-container {
        width: 50rem;
    }
}

@media (max-width: 875px) {
    .ps-main-video-container {
        width: 40rem;
    }
}

@media (max-width: 739px) {
    .ps-main-video-container {
        width: 30rem;
    }
}

@media (max-width: 540px) {
    .ps-main-video-container {
        width: 20rem;
        height: 20rem;
    }
}

@media (max-width: 377px) {
    .ps-main-video-container {
        width: 16rem;
        height: 20rem;
    }
}

.main-video--btn {
    font-size: 5rem;
    color: white;
    cursor: pointer;
}


.public-speaking .form-container {
    position: absolute;
    bottom: 18rem;
    width: 80rem;
    height: 17rem;
    border-radius: 16px;
    box-shadow: 0 10px 20px 4px rgba(255, 255, 255, 0.2);
    background: #1064FF;
}

@media (max-width: 1322px) {
    .public-speaking .form-container {
        width: 70rem;
    }
}

@media (max-width: 1183px) {
    .public-speaking .form-container {
        width: 60rem;
    }
}

@media (max-width: 1005px) {
    .public-speaking .form-container {
        width: 50rem;
    }
}

@media (max-width: 850px) {
    .public-speaking .form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 40rem;
    }
}

@media (max-width: 680px) {
    .public-speaking .form-container {
        width: 30rem;
    }
}

@media (max-width: 525px) {
    .public-speaking .form-container {
        width: 20rem;
    }
}

@media (max-width: 360px) {
    .public-speaking .form-container {
        width: 18rem;
    }
}


.form-container--text {
    color: white;
    margin: 7rem 0 0 4rem;
    font-size: 1.7rem;
}

@media (max-width: 1322px) {
    .form-container--text {
        font-size: 1.3rem;
    }
}

@media (max-width: 1183px) {
    .form-container--text {
        font-size: 1rem;
    }
}

@media (max-width: 1005px) {
    .form-container--text {
        margin-left: 1.5rem;
    }
}

@media (max-width: 850px) {
    .form-container--text {
        margin: 0 0 0 2rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 525px) {
    .form-container--text {
        font-size: 1rem;
    }
}


.form-container--mail {
    margin-left: 50rem;
    margin-top: -3.9rem;
}

@media (max-width: 1322px) {
    .form-container--mail {
        margin-left: 40rem;
    }
}

@media (max-width: 1183px) {
    .form-container--mail {
        margin-left: 30rem;
        margin-top: -3rem;
    }
}

@media (max-width: 1005px) {
    .form-container--mail {
        margin-left: 26rem;
        margin-top: -3rem;
    }
}

@media (max-width: 850px) {
    .form-container--mail {
        margin: 0 0 0 2rem;
    }
}

.mail--input {
    width: 22rem;
    height: 3.2rem;
    outline: none;
    border: none;
    padding: 1rem;
    font-size: .9rem;
}

@media (max-width: 1005px) {
    .mail--input {
        width: 18rem;
    }
}

@media (max-width: 525px) {
    .mail--input {
        width: 14rem;
    }
}

@media (max-width: 360px) {
    .mail--input {
        width: 12rem;
    }
}


.mail--email::placeholder {
    font-family: inherit;
}

.mail--btn {
    background: none;
    border: none;
    background-color: black;
    height: 3.2rem;
    width: 3.3rem;
    cursor: pointer;
}

.mail--btn {
    color: white;
    font-size: 1rem;
}